body{
    background-color: aliceblue;
}
header{
    background-color: rgb(209, 202, 202);
    margin: 20px;
    font-size: large;
    align-content: center;
}
h1{
    color: brown;
}
h2{
    color: rgb(84, 74, 169);
}

section {
    background-color: rgb(134, 185, 216);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}
div{
    background-color: darksalmon;
    margin: 16px;
    padding: 8px;
}
table {
    margin: 20px;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid black;
    padding: 10px;
}
        input,
button {
    margin-top: 8px;
    padding: 8px;
}
nav a {
    text-decoration: none;
    color: navy;
    font-weight: bold;
}

nav a:hover {
    color: red;
}
footer {
    background-color: rgb(209, 202, 202);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
img {
    border-radius: 5px;
}

